body {
  font-family: Roboto, sans-serif;
}

.component {
  width: auto;
  float: none;
  border: 1px solid #DDD;
  margin: 0 0 20px;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.component header h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  padding: 10px;
  margin: 0;
  border-bottom: 1px dotted #DDD;
}

.component .result,
.component .usage {
  position: relative;
  background: #FFF;
  padding: 29px 20px 10px;
}

.component .result h4,
.component .usage h4 {
  background: #CCC;
  display: inline-block;
  position: absolute;
  top: -1px;
  left: 20px;
  padding: 3px 10px;
  font-weight: 100;
  font-size: 12px;
}

.component .usage {
  border-top: 1px dotted #DDD;
  border-radius: 5px;
}

.component .usage pre {
  min-height: 10px;
  margin: 0;
}